.container
    .header-ecored
        h1 2. Principio de funcionamiento de un motor de imanes permanentes
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img16.png").img-fluid 
        .sub-ecored.mt-5#21
            h2 2.1 Características y tipos de los rotores
        p.mt-5 Normalmente, en un motor eléctrico el rotor está ubicado dentro del estator, sin embargo, para los motores de imanes permanentes hay estructuras con rotores externos. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img17.png").img-fluid 
        p.mt-5 De acuerdo con el diseño del rotor, los motores sincrónicos están divididos en: Motor síncrono de imanes permanentes de superficie y de imanes incrustados.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img18.png").img-fluid 
        p.mt-5 En los rotores con imanes en superficie (SPM), los imanes son mantenidos en posición por una cinta compuesta que los envuelve alrededor del rotor. Este tipo de motor es utilizado en un amplio rango de aplicaciones cuando se requieren altas eficiencias y alta velocidad. Este diseño es altamente eficiente debido a que el torque es generado directamente por la reacción entre el campo magnético de la superficie de los imanes y los campos generados por el devanado en el estator. De igual manera hay pérdidas mínimas de energía en el rotor, debido a que el campo magnético de los imanes actúa directamente en el entrehierro.

        p Las principales desventajas de los motores SPM son la cantidad de material magnético requerida para generar el torque comparado con otros tipos de motor y los altos costos de manufactura.

        p Por otro lado, en los rotores con imanes incrustados (IPM), barras de imanes se encuentran incrustadas en los agujeros del rotor, el cual está fabricado por capas de láminas de acero. Los motores IPM usualmente se fabrican con menos material magnético que los SPM, lo que permite reducir los costos de manufactura. Adicional al campo magnético generado por los imanes permanentes, los IPM también utilizan la reluctancia del rotor para mejorar la intensidad del campo magnético. Si bien esto mejora la relación de torque-material magnético, se reduce el pico de eficiencia comparado con un SPM.

        .jumbotron.mt-5
            p Los videos que se mencionan a continuación describen gráficamente la composición interna de los tipos más comunes de motores permanentes y así mismo un ejemplo de aplicación del fabricante Skoda.  
            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    section
                        a(href="https://www.youtube.com/watch?app=desktop&v=E5VS4s-R7vk" target="_blank").media-link.bg-color-verde-radial  
                            img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                            .media-link-title.ml-4
                                p Vídeo 1 simulación de montaje y despiece de motores   
                .col-12.col-md-6
                    section
                        a(href="https://www.youtube.com/watch?app=desktop&v=NRxo5aDGG8M" target="_blank").media-link.bg-color-verde-radial  
                            img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                            .media-link-title.ml-4
                                p Vídeo 2 simulación de montaje y despiece de motores             

        .sub-ecored.mt-5#22
            h2 2.2 Partes eléctricas y componentes                                 
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img19.png").img-fluid 
            .col
                p El motor de imanes permanentes tiene dos partes principales, el estator que es la parte fija y el rotor que particularmente tiene imanes compuestos por elementos como el disprosio, el gadolinio o el neodimio, elementos, en su mayoría, importados de China, escasos, caros y difíciles de reciclar. Gracias a estos imanes, la inducción no es necesaria para generar el campo magnético o la producción de corriente. 

                p En la imagen se observa:
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Bar wound Wire: Devanado del estator
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Rotor core sections: Núcleo del rotor conformado por laminaciones de acero
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Bearing support Assembly: Conjunto de cojinetes
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Magnets: Imanes
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Steel plate: Placa de acero
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Rotor hub: Buje del rotor
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Stator core: Núcleo del estator conformado por laminaciones de acero

        .sub-ecored.mt-5#23
            h2 2.3 Generalidades
        p.mt-5 Los motores sincrónicos son clasificados como máquinas de alta velocidad cuando las RPM>500, y máquinas de baja velocidad cuando las RPM<500. En ciertas aplicaciones, los motores sincrónicos son preferidos sobre los motores de inducción tipo jaula de ardilla por las siguientes razones:  
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid 
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid 
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid 

        p.mt-5 Los sistemas de levantamiento artificial para el sector petrolero han sido usados por más de 80 años, principalmente operados con motores de inducción. Los proveedores de estos sistemas continuamente desarrollan nuevas y mejores tecnologías para cumplir con los desafíos de los operadores. La tecnología PMM es relativamente nueva en las operaciones occidentales. Algunos proveedores de equipos ESP reportan que los PMM pueden proveer ahorros de energía significativos del 20 al 30% sobre el motor de inducción.

        p Este tipo de motores están indicados para prácticamente cualquier aplicación en la que se emplee un motor de inducción y en situaciones en las que el rendimiento del motor sea un factor de importancia primaria, así como en aplicaciones de velocidad variable con cargas centrífugas como las de los ventiladores y las bombas.