.container
    .header-ecored
        h1 3. Barreras físicas para la protección de generación eléctrica producida por un motor de magnetos permanentes
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img16.png").img-fluid

        .sub-ecored.mt-5#31
            h2 3.1 Barreras de superficie.   
        p.mt-5 Dado el inminente riesgo eléctrico al que se expone el personal que opera motores de magnetos permanentes, tanto en su instalación/desinstalación y operación, a continuación se mencionan algunas de las medidas mínimas (sin limitarse a ellas) recomendadas para el uso correcto y seguro de esta tecnología: 

        .row.my-5
            .col-1
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-1-tab.nav-link.active.px-2(data-toggle='pill', href='#v-pills-1', role='tab', aria-controls='v-pills-1', aria-selected='true') 1
                    a#v-pills-2-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-2', role='tab', aria-controls='v-pills-2', aria-selected='false') 2
                    a#v-pills-3-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-3', role='tab', aria-controls='v-pills-3', aria-selected='false') 3
            .col-11
                #v-pills-tabContent.tab-content
                    #v-pills-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-1-tab')
                        .header-arrow.py-3.mb-5
                            h3 Dispositivo de corto circuito: 
                        p Con el fin de evitar que exista rotación física del  equipo de fondo durante la corrida del equipo BES con motores de imanes permanentes, ante alguna de las situaciones previamente mencionadas, se recomienda el uso de dispositivos de corto circuito que permitan la restricción al giro:
                        .row.justify-content-center.align-items-center.mt-5
                            .col-12.col-md-2
                                img.img-a(src="assets/images/pages/ilustraciones/img17.png").img-fluid

                            .col-12.col-md-2
                                img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid

                            .col-12.col-md-2
                                img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid

                            .col-12.col-md-2
                                img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid

                            .col-12.col-md-2
                                img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid
                        p.mt-5 Con la instalación de este dispositivo (diversos diseños pueden ser usados), que básicamente pone en contacto las tres fases del motor electrosumergible (sistema eléctrico en corto circuito), se restringe la rotación del motor ante uno de los eventos previamente mencionados, garantizando así la ausencia de voltaje en algunos de los conductores. Sin embargo, pueden existir corrientes residuales presentes en el sistema las cuales son respuesta del potencial en corto circuito. Por tal razón siempre debemos verificar ausencia de corriente usando pinza amperimétrica tal como se describe en la imagen anterior.

                    #v-pills-2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-2-tab')
                        .header-arrow.py-3.mb-5
                            h3 Medias lunas en acrílico: 
                        p.mt-5 Para aislamiento de punto estrella de medición eléctrica, se deben tener dispositivos lock-out / tag-out (2) con acceso controlado por parte de CoMan y líder de cuadrilla. Los candados deben ser de color azul o negro. 
                        .row.justify-content-center.align-items-center.mt-5
                            .col-12.col-md-5
                                img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid                        
                            .col-12.col-md-5
                                img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid 
                    #v-pills-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-3-tab')
                        .header-arrow.py-3.mb-5
                            h3 Marcación de motor    
                        p.mt-5 Con el objetivo de diferenciar un motor de PMM de un motor de inducción, los PMM deben ser marcados con el aviso que así lo identifique, para que el nivel de alerta del personal involucrado en la operación se incremente:   
                        .row.justify-content-center.align-items-center.mt-5
                            .col-12.col-md-5
                                img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid                

        .sub-ecored.mt-5#32
            h2 3.2 Barreras de fondo                                 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                p Con el fin de evitar que durante la corrida de un equipo electrosumergible con motores de magnetos permanentes exista una generación eléctrica que pueda causar daños al personal que opera los mismos, se deben garantizar las siguientes barreras en fondo (por lo menos una):
                .list.mt-4
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Válvula Check.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Standing Valve.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Blanking Plug.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Camisa de circulación abierta.
                  
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid              