.container
    .header-ecored
        h1 3. Diferencia entre motor inducción (AM) - iman permanente (PMM)
    .jumbotron.bg-white
        .sub-ecored.mt-5#31
            h2 3.1 Características del conjunto rotórico       
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img25.png").img-fluid 
        p.mt-5 En aplicaciones de la industria petrolera, se conoce como conjunto rotórico a los elementos que conforman el sistema de levantamiento artificial. Parte fundamental es el motor, cuya función principal es transformar energía eléctrica en movimiento de un eje y así transmitir el movimiento a lo largo de todos los ejes que conforman el equipo y lograr llevar los hidrocarburos a superficie.

        p Los sistemas de levantamiento que usan motores de inducción o motores PMM más comunes son Sistemas de bombeo Electrosumergible y sistemas de bombeo por cavidades progresivas
 
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid 
            .col
                p Los sistemas de bombeo electrosumergible (ESP) ofrecen un medio eficaz y económico de levantamiento de grandes cantidades de fluido y caudales desde 200 a 120.000 bpd, desde profundidades considerables en una variedad de condiciones de pozo. Estos sistemas se componen por motor eléctrico, sello, separador de gas o Intake, bombas centrífugas multietapas, cable de alimentación, controlador de motor y transformadores.
                p Por otro lado, los sistemas de levantamiento por cavidades progresivas (PCP) son bombas de desplazamiento positivo que usan cavidades progresivas selladas para mover fluidos hacia superficie. Los equipos PCP proporcionan un flujo que reduce el riesgo de emulsionar fluidos y evita el bloqueo de gas. La combinación de la cavidad progresiva junto con materiales de construcción de alta calidad conforman el sistema apropiado para producir flujos viscosos y abrasivos.
 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img27.png").img-fluid 

        .sub-ecored.mt-5#32
            h2 3.2 Cantidad de polos en motores AM y PMM. Velocidades en fondo 
        p.mt-5 Como se estudió en los capítulos anteriores la velocidad de giro del motor se relaciona con la frecuencia y el número de polos del motor: 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img28.png").img-fluid 
        p En donde f es la frecuencia y P el número de polos. Normalmente la frecuencia utilizada para operar los motores es de 50/60 Hz, lo cual se toma como una constante, dejando como factor variable el número de polos para poder cambiar la velocidad del motor. 

        p Se puede decir entonces, que el número de polos regula la velocidad del motor teniendo que cuando el número de polos incrementa la velocidad disminuye y al disminuir el número de polos, aumenta la velocidad.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img29.png").img-fluid 

        p.mt-5 El gráfico representa los efectos del número de polos en la velocidad del motor eléctrico

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img30.png").img-fluid 

        p.mt-5 #[strong Nota.] El gráfico representa la velocidad de giro del eje del motor eléctrico en función de la frecuencia del voltaje a la cual está funcionando el motor y como se ve afectada por el número de polos del motor.         

        .jumbotron
            .row.justify-content-center.align-items-center.mt-5
                .col 
                    p El número de polos siempre es un número par, como el polo N y el polo S que existen en un sistema magnético no existen por separado. 

                    p En los motores de imanes permanentes, los imanes pueden ser fabricados individualmente en diferentes formas y tamaños y pueden ser magnetizados en diferentes direcciones. Cada polo podría consistir en un número de imanes segmentados en vez de una sola pieza. 

                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img31.png").img-fluid 

        .sub-ecored.mt-5#33
            h2  3.3 Ventajas y desventajas de los motores AM – PMM    
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img32.png").img-fluid 

        .row.justify-content-center.align-items-center.mt-5
            .col
                p El motor de inducción ha dominado el mercado global por décadas, sin embargo, los motores de imanes permanentes (PMM) están ganando aceptación para uso en los sistemas de levantamiento artificial. Algunos proveedores de PMM han afirmado reducción del 20 al 30% en costos de electricidad, mejora de la eficiencia y ampliación de las aplicaciones para los desafíos del sector petrolero con el uso de los motores PMM. Otros proveedores reportan incremento en las tasas de operación con estos motores debido a que la velocidad de operación puede llegar hasta las 8.500 rpm. De igual manera, el tamaño de los PMM es menor y son más livianos respecto a los motores de inducción IM. 

                p Varios estudios de compañías operadoras y proveedores de sistemas de levantamiento artificial han encontrado que los motores PMM son una alternativa de costos competitiva frente a los motores IM.

                p En un estudio realizado en el año 2013 por la Society of Petroleum Engineers (SPE) junto con diferentes proveedores de equipos electrosumergibles con el fin de evaluar los beneficios de la tecnología PMM, se encontró que los equipos PMM son más pequeños y con mejor densidad de potencia y torque, pueden operar a velocidades más altas, son más eficientes y tienen un factor de potencia más alto. 
         
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid 
        
        .jumbotron.bg1.mt-5
            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid 
                .col
                    p Los motores PMM son significativamente más pequeños en volumen, tienen alta densidad de potencia y torque, tienen 70% más potencia y 65% mejor torque que los motores IM. Estas ventajas benefician en algunas aplicaciones donde el tamaño, la longitud y el peso del motor son importantes. 

        .sub-ecored-teme.mt-5
            h3 Velocidad de Motor
        .row.justify-content-center.align-items-center.mt-5
            .col 
                p Los PMM operan a velocidades sincrónicas ya que no existe el deslizamiento. Las velocidades más altas de operación en los PMM son un beneficio, esto quiere decir que los motores PMM operan a una velocidad sincrónica de 3.600 rpm independientemente de la carga. 

                p #[strong Nota.] El gráfico representa la relación entre la velocidad del motor y el porcentaje (%) de carga del motor eléctrico, haciendo el comparativo entre un motor de inducción (IM – Línea roja) y un motor con imanes permanentes (PMM- línea azul). Tomado de Society of Petroleum Engineers. SPE-185129-MS Leveraging ESP Energy Efficiency with Permanent Magnet Motor, 2017
                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img38.png").img-fluid 

        .sub-ecored-teme.mt-5
            h3 Corriente y Aumento de la Temperatura de Motor
        .row.justify-content-center.align-items-center.mt-5
            .col 
                p Dado que el rotor PMM no está formado por devanados de cobre, la corriente, la resistencia eléctrica y la temperatura del motor son ligeramente menores que en los motores IM. Estas condiciones permiten que la vida útil de los PMM incremente considerablemente respecto a los IM. 

                p #[strong Nota.] El gráfico representa la relación entre el porcentaje (%) de corriente del motor (izquierda) y el cambio de temperatura (derecha) en función del porcentaje (%) de carga del motor eléctrico, haciendo el comparativo entre un motor de inducción (IM – Línea roja) y un motor con imanes permanentes (PMM- línea azul). Tomado de Society of Petroleum Engineers. SPE-185129-MS Leveraging ESP Energy Efficiency with Permanent Magnet Motor, 2017
                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img35.png").img-fluid 


        .sub-ecored-teme.mt-5
            h3 Eficiencia y Factor de Potencia
        .row.justify-content-center.align-items-center.mt-5
            .col 
                p Los motores PMM utilizan la energía eléctrica de manera más eficiente que los IM variando desde condiciones de baja velocidad/bajo torque a condiciones de alta velocidad/alto torque.

                p En condiciones de 3.600 rpm y 100% de torque la diferencia de eficiencia es aproximadamente del 6% entre los PMM y los IM.


                p #[strong Nota.] El gráfico representa la relación entre el factor de potencia (izquierda) y la eficiencia (derecha) de los motores en función del porcentaje (%) de carga del motor eléctrico, haciendo el comparativo entre un motor de inducción (IM – Línea roja) y un motor con imanes permanentes (PMM- línea azul). Tomado de Society of Petroleum Engineers. SPE-185129-MS Leveraging ESP Energy Efficiency with Permanent Magnet Motor, 2017
                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img36.png").img-fluid 

        .row.justify-content-center.align-items-center.mt-5
            .col 
                p Una de las ventajas más importantes del PMM es que mantiene un alto factor de potencia independientemente de la carga, generalmente en un motor IM cuando la carga es mayor o igual al 50% el factor de potencia puede estar en 0.6 y 0.85, a diferencia de los motores PMM que para cargas mayores al 50% el factor de potencia puede estar entre 0.92 y 0.98. Esto se refleja en reducción de costos de energía eléctrica con factores de potencia más altos.

                p #[strong Nota.] El gráfico representa las curvas de comportamiento de un motor PMM: Corriente nominal (Línea verde), voltaje nominal (Línea amarilla ), Velocidad de giro (RPM) (Línea gris), eficiencia (%) (Línea azul), factor de potencia (% (Línea naranja)); en función de % la carga del motor. Tomado de Society of Petroleum Engineers. SPE-185273-MS Case Study, Permanent magnet Motor Operation Below Perforation in Stagnant Fluid, 2017
                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img37.png").img-fluid 


        .row.justify-content-center.align-items-center.mt-5
            .col 
                p #[strong Nota.] El gráfico representa las curvas de comportamiento de un motor IM: Corriente nominal (Línea verde), voltaje nominal (Línea amarilla), Velocidad de giro (RPM)(Línea gris), eficiencia (%) (Línea azul), factor de potencia (%) (Línea amarilla); en función de % la carga del motor. Tomado de Society of Petroleum Engineers. SPE-185273-MS Case Study, Permanent magnet Motor Operation Below Perforation in Stagnant Fluid, 2017

                p A pesar de las ventajas de los PMM sobre los IM, existen desventajas asociadas a:

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  El costo de manufactura es más elevado
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  Los imanes son fabricados con materiales escasos, siendo China el principal país que suministra el material magnético 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  Costo de los sistemas de operación elevados. No puede operarse sin un controlador (VSD/VFD)

                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img39.png").img-fluid