.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Blanking plug:
            | tapón de fondo usado sobre niple silla en fondo para evitar el paso de fluido en cualquier dirección. 
        
        p
            strong.mr-2 EPP:
            | Elementos de protección personal
        p 
            strong.mr-2  ESP:
            | Electric Submersible pump
        p
            strong.mr-2 Influjo o patada de pozo:
            | condición de aporte en flujo natural donde la presión del yacimiento supera la presión hidrostática y tiene la fuerza para producir el fluido hasta superficie. Esta puede ser de manera controlada o en algunos casos sin control.

        p
            strong.mr-2 MLE:
            | motor Lead Extensión por sus siglas en inglés. También conocido como FCE ¨Flat Cable Extension¨. Su función es la de acoplar el cable de potencia al motor eléctrico y garantizar su hermeticidad en este punto de conexión.

        p
            strong.mr-2 Pot Head:
            | conexión disponible en la cabeza del motor para conexión del cable de potencia o extensión de cable de potencia

        p
            strong.mr-2 PMM:
            | Permanent magnet motor

        p
            strong.mr-2 Standing valve:
            | válvula ubicada sobre niple silla en fondo para permitir el paso de fluido en una sola dirección.

        p
            strong.mr-2 voltaje nominal:
            | es el voltaje requerido por el equipo electrosumergible para operar a su frecuencia nominal (máxima potencia).                                     