.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/0HsZYxICQN4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     
        p.mt-5 Los motores de inducción son también llamados asíncronos, debido a que el motor siempre gira a menor velocidad que la velocidad de rotación del campo magnético en el estator, a esta diferencia de velocidad se le denomina deslizamiento y se mide en términos porcentuales.

        p Hay dos tipos de motores de inducción clasificados de acuerdo al tipo de rotor como, motor con rotor jaula de ardilla y motor con rotor devanado.
