.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Denis Harris 
                    
                    td SPE-185129-MS
                    td 
                        a(href=" ", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver